/* ---------------------------------------------------
    Global
----------------------------------------------------- */

body {
    font-family: 'Open Sans', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Open Sans', sans-serif;
    text-transform: uppercase;
    font-weight: 600;
    color: #000;
    letter-spacing: 1px;
}

p {
    font-family: 'Open Sans', sans-serif;
    font-size: 1em;
    font-weight: 300;
    line-height: 1.45em;
    color: #6b7073;
}

a, a:hover, a:focus {
    color: inherit;
    text-decoration: none;
    /* transition: all 0.3s; */
}

strong {
    font-weight: bold;
}

.wrapper {
    display: flex;
    width: 100%;
    align-items: stretch;
}

.page-title {
    margin: 30px 0;
}

.overflow-hidden {
    overflow: hidden;
}

.container-fluid a, .container-fluid img {
    width: 100%;
}

/* ---------------------------------------------------
    UNIVERSAL BAR STYLE
----------------------------------------------------- */

#universal-nav {
    height: 44px;
    padding: 0;
    background: #444;
    color: #444;
}

.universal-link {
    padding-top: 4px;
    padding-bottom: 4px;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}

.universal-link img {
    display: block;
    height: 36px;
    width: auto;
}

.universal-link.active {
    background-color: #fff;
}

.universal-link:hover:not(.active) {
    background-color: #666666;
}

.search-form {
    max-width: 165px;
    margin: auto 0;
}

.search-box .search-input {
    background-color: #444;
    color: #bbb;
    border-color: #bbb;
    font-size: .7rem;
}

.search-box .search-input::placeholder {
    color: #bbb;
}

.search-box .search-btn {
    background-color: #909090;
    color: #e6e6e6;
    font-size: 0.8em;
}

ul.account-links li.nav-item {
    border-right: 2px solid #bbb;
    padding: 0 6px;
}

ul.account-links li.nav-item:last-child {
    border: 0;
}

ul.account-links li>a {
    font-family: "Dosis", sans-serif;
    text-transform: uppercase;
    font-weight: normal;
    font-size: 1.1em;
    color: #bbb;
    padding: 0;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}

ul.account-links li>a:hover {
    color: #fff;
}

.nav-link.cart-link {
    font-size: 2em;
    line-height: 1em;
    background: transparent;
    padding: 0 5px 0 10px;
    border: 0;
    cursor: pointer;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}

.cart-link:focus {
    outline: none;
}

.cart-counter {
    font-family: "Dosis", sans-serif;
    text-align: center;
    font-weight: bold;
    font-size: 14px;
    color: #444;
    position: absolute;
    top: 3px;
    right: 21px;
    width: 16px;
    margin: 0 auto;
    display: block;
}

/* ---------------------------------------------------
    CART DROPDOWN STYLE
----------------------------------------------------- */

.cart-dropdown {
    left: auto;
    right: 2px;
    padding: 0;
    max-width: 375px;
    z-index: 1030;
}

.cart-item-list {
    max-height: calc(100vh - 293px);
    overflow-y: auto;
}

.cart-item {
    display: block;
    position: relative;
}

.cart-item-contents {
    padding: 15px;
}

.cart-dropdown-info {
    padding-left: 0;
}

.cart-dropdown-title {
    text-transform: uppercase;
}

.cart-dropdown-variant {
    font-size: 0.8em;
    margin-bottom: 4px;
}

.cart-dropdown-qty {
    max-width: 100px;
    margin-bottom: 3px;
    font-size: 14px;
}

.cart-dropdown .form-control {
    padding: .75rem 1rem;
}

.form-control.input-number {
    text-align: center;
    padding: .25rem .5rem;
}

.remove-item {
    position: absolute;
    top: 15px;
    right: 15px;
}

.cart-buttons {
    margin: 0 15px 15px 15px;
}

.more-items a {
    font-size: 0.65em;
    border-radius: 15px;
    margin-bottom: 15px;
    font-weight: bold;
}

.total {
    font-weight: bold;
    vertical-align: bottom;
    margin-bottom: 10px;
}

.cart-disclaimer {
    font-size: 0.7em;
    font-weight: normal;
}

.checkout-btn a.btn {
    font-family: 'Dosis', sans-serif;
    text-transform: uppercase;
}

/* ---------------------------------------------------
    PROMO BAR STYLE
----------------------------------------------------- */

.promo-bar {
    background: #77b93d;
    padding: 8px;
    z-index: 1000;
}

.promo-bar h5 {
    color: #ffffff;
    font-size: 18px;
    line-height: 18px;
    text-align: center;
    margin: 0;
}

/* ---------------------------------------------------
    BRAND BAR STYLE
----------------------------------------------------- */

.brand-bar {
    background-color: #fff;
}

.brand-logo {
    display: block;
    position: relative;
    height: 24px;
    width: auto;
    margin: 1em;
}

.mobile-nav {
    width: 100%;
    top: 89px;
    padding: 0 10px;
    color: #444;
}

.mobile-nav .cart-counter {
    color: #fff;
    position: absolute;
    top: -4px;
    right: 21px;
}

#navToggler {
    width: 35px;
    height: 35px;
    line-height: 35px;
    text-align: center;
    margin-right: 5px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}

#navToggler:hover {
    color: #fff;
    background: #2694cf;
}

.brand-nav .nav .nav-link {
    font-size: 14px;
    font-weight: 600;
    color: #000;
    text-transform: uppercase;
    letter-spacing: 1px;
    position: relative;
    outline: none;
}


.brand-nav ul>li:last-child .nav-link {
    color: #ec3f8d!important;
}

/* Mobile Nav Styles */
@media (max-width: 767.98px) {
    .brand-nav {
        padding: 0;
    }
    
    #responsiveNav {
        width: 250px;
        background: #fff;
        color: #000;
        box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
        transition: all 0.3s;
        position: fixed;
        top: 0px;
        left: 0px;
        min-height: 100vh;
        max-height: 100%;
        margin-top: 0;
        margin-left: -250px;
        z-index: 1002;
        overflow-y: auto;
        overflow-x: hidden;
        padding-bottom: 58px;
    }
    
    #responsiveNav.active {
        margin-left: 0;
    }

    .brand-nav li.nav-item.inactive {
        display: none;
    }

    .brand-nav a.nav-link.inactive {
        display: none;
    }

    .brand-nav .nav a.nav-link i, .brand-nav .nav a.menu-header i {
        position: absolute;
        top: 11px;
        right: 15px;
    }

    .brand-nav .nav .nav-link-header {
        color: #fff!important;
        background: #444;
    }

    .brand-nav .nav a.nav-link.active i, .brand-nav .nav a.menu-header.active i {
        transform: rotate(-180deg);
    }

    .brand-nav .nav a.menu-header {
        font-family: 'Open Sans', sans-serif;
        font-size: 14px;
        font-weight: 600;
        color: #000;
        text-transform: uppercase;
        letter-spacing: 1px;
        position: relative;
        outline: none;
        padding: .5rem 1rem;
        display: block;
    }

    .brand-nav .nav a.menu-header.inactive {
        display: none;
    }

    .brand-nav .nav ul.menu-level-3 li {
        font-size: 14px;
        padding: .5rem 1rem;

    }

    .brand-nav .menu-level-1 {
        display: block;
    }

    .brand-nav .menu-level-2 {
        display: none;
    }

    .brand-nav .menu-level-2.active {
        display: block;
        padding: 0;
        margin: 0;
    }
    
    .brand-nav .menu-level-3 {
        display: none;
    }

    .brand-nav .menu-level-3.active {
        display: block;
    }
    
    .overlayNav {
        top: 0;
        display: none;
        position: fixed;
        width: 100vw;
        height: 100vh;
        background: rgba(0, 0, 0, 0.7);
        z-index: 1001;
        opacity: 0;
        transition: all 0.5s ease-in-out;
    }
    
    .overlayNav.active {
        display: block;
        opacity: 1;
    }
}

/* Desktop Nav Styles */
@media (min-width: 768px) {
    .brand-logo {
        height: 50px;
    }
    .brand-nav {
        width: 100%;
        padding: 4px;
    }

    #responsiveNav {
        display: flex;
        justify-content: center;
        width: initial;
        background: #fff;
        color: #000;
        box-shadow: none;
        position: initial;
        min-height: initial;
        max-height: initial;
        overflow: initial;
        z-index: initial;
        margin-left: 0;
        padding-bottom: 0;
    }

    .brand-nav ul.nav {
        justify-content: center;
    }
    
    .brand-nav .nav .nav-item {
        position: static;
    }

    .brand-nav .nav .nav-link::after {
        position: absolute;
        opacity: 0;
        width: 0%;
        height: 4px;
        content: '';
        background: #f47719;
        left: 0px;
        bottom: -5px;
        -webkit-transition: all 0.3s;
        -o-transition: all 0.3s;
        transition: all 0.3s;
    }

    .brand-nav ul>li:last-child .nav-link::after {
        background: #ec3f8d!important;
    }

    .brand-nav .nav .nav-link:hover::after {
        opacity: 1;
        width: 100%;
    }

    .brand-nav .nav-link-wrapper:hover .nav-link::after {
        opacity: 1;
        width: 100%;
    }

    .brand-nav .nav-link-wrapper:hover .brand-dropdown {
        visibility: visible;
        opacity: 1;
    }

    .brand-dropdown {
        line-height: 18px;
        background-color: #fff;
        position: absolute;
        left: 0;
        top: 45px;
        width: 100%;
        border-top: 1px solid #e6e6e6;
        padding: 20px 0;
        opacity: 0;
        visibility: hidden;
        -webkit-transition: all 0.3s;
        -o-transition: all 0.3s;
        transition: all 0.3s;
    }

    .brand-dropdown .row {
        width: 100%;
    }
    .brand-dropdown a.menu-header {
        font-family: 'Open Sans', sans-serif;
        font-size: 13px;
        font-weight: 600;
        text-transform: uppercase;
        color: #000;
        margin-bottom: 0;
        pointer-events: none;
    }

    .brand-dropdown ul.list-unstyled li {
        padding: 4px 0;
    }

    .brand-dropdown a.menu-link {
        font-size: 13px;
        color: #363636;
        line-height: 13px;
        -webkit-transition: color 0.1s;
        -o-transition: color 0.1s;
        transition: color 0.1s;
    }
    
    .brand-dropdown a.menu-link:hover {
        color: #2694cf;
    }
}

/* ---------------------------------------------------
    HOMEPAGE STYLES
----------------------------------------------------- */

#homepage h4 {
    text-align: center;
    letter-spacing: 2px;
    margin-top: 30px;
    margin-bottom: 20px;
}

#homepage .secondary-banner {
    margin: 20px 0;
}

#homepage .shop-category .see-all a h6 {
    text-align: center;
    text-decoration: underline;
    margin: 15px 0;
}

#homepage .shop-category {
    margin-bottom: 30px;
}

#homepage .shop-by-group {
    border: 3px solid #bbb;
    border-radius: .25rem;
    margin-bottom: 20px;
}

#homepage .shop-by-title {
    margin-top: 20px;
}

#homepage .shop-by h6 {
    text-align: center;
    margin: 0.5rem 0 1rem 0;
    text-decoration: underline;
}

#homepage .shop-by-footer {
    background: #bbb;
    display: flex;
    justify-content: center;
    line-height: 1;
}

#homepage .shop-by-footer h6 {
    margin: .8rem 0 .7rem 0;
    color: #fff;
}

#homepage .customer-service {
    margin: 30px auto;
}

#homepage .customer-service .col {
    text-align: center;
    border-right: 1px solid rgba(0, 0, 0, 0.1);
}

#homepage .customer-service .col:last-child {
    border-right: none;
}

/* ---------------------------------------------------
    COLLECTION PAGE STYLES
----------------------------------------------------- */

.collection-title {
    text-align: center;
    margin-top: 1.5rem;
    margin-bottom: 2rem;
}

.collection-title h3 {
    font-size: 2.2em;
}

.filter-sort {
    margin-bottom: 2em;
}

.filter-sort .dropdown-menu {
    min-width: 100%;
    padding: 0;
    border: 1px solid #2694cf;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.2);
}

.filter-sort .size-filter {
    display: block;
    width: 100%;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    font-family: "Dosis", sans-serif;
    color: #2694cf;
    text-align-last: center;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

.filter-sort .product-options {
    margin: 10px;
}

.filter-sort .product-options .size-group .size-label {
    margin-right: 4px;
}

.filter-sort .product-options .size-group .size-label:last-child {
    margin-right: 0;
}

.filter-sort .product-options button {
    font-family: "Dosis", sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    width: 50%;
}

.filter-sort .product-options button:first-child {
    margin-right: 2px;
}

.filter-sort .product-options button:last-child {
    margin-left: 2px;
}

.selected-filters .btn-group {
    margin: 2px;
    display: none;
}

.selected-filters .btn-group.show {
    display: inline-flex;
}

.selected-filters {
    display: none;
    margin-bottom: 2em;
}

.selected-filters.show {
    display: block;
}

.filter-sort select {
    font-family: "Dosis", sans-serif;
    color: #2694cf;
    text-align-last: center;
}

.product {
    margin-bottom: 20px;
    line-height: 1.3;
}

.product img {
    transition: 0.2s ease;
    -webkit-transition: 0.2s ease;
    -moz-transition: 0.2s ease;
    backface-visibility: hidden;
    width: 100%;
}

.product a:hover img {
    transform: perspective(500px) translate3d(0, 0, 20px);
    -webkit-transform: perspective(500px) translate3d(0, 0, 20px);
}

.product .product-title a h6 {
    margin-top: .5rem;
    margin-bottom: 0;
    transition: 0.2s ease;
    -webkit-transition: 0.2s ease;
    -moz-transition: 0.2s ease;
    backface-visibility: hidden;
}

.product .product-title a:hover h6 {
    color: #bbb;
}

.product .price.sale {
    font-weight: bold;
    color: #fd7702;
}

.product .compare-at-price {
    text-decoration: line-through;
    color: #bbb;
}

.product .sale-tag {
    color: #fff;
    font-size: .7em;
    font-weight: bold;
    text-transform: uppercase;
    vertical-align: middle;
    background-color: #fd7702;
    padding: .2em .4em;
    border-radius: .2em;
    margin: 0 .5em;
}

.product .quick-add {
    font-size: 0.9em;
    font-weight: bold;
    color: #2694cf;
    transition: 0.2s ease;
    -webkit-transition: 0.2s ease;
    -moz-transition: 0.2s ease;
    backface-visibility: hidden;
}

.product .quick-add:hover {
    color: #bbb;
}

.product .collection-badge {
    position: absolute;
    top: -13px;
    right: -3px;
    width: 50px;
    height: 50px;
    border: 2px solid #fff;
    border-radius: 25px;
    background: #6b7073;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-weight: bold;
    z-index: 10;
}

.product .collection-badge.badge-new {
    font-size: 16px;
    background: #2694cf;
    color: #fff;
    transform: rotate(30deg)
}

.product .collection-badge.badge-sale {
    font-size: 16px;
    background: #fd7702;
    color: #fff;
    transform: rotate(30deg)
}

.product .collection-badge.badge-fc {
    font-size: 23px;
    background: #ec3f8d;
    color: #fff;

}

/* ---------------------------------------------------
    PRODUCT PAGE STYLES
----------------------------------------------------- */

.product-options {
    margin-top: 20px;
}

.product-options .product-type {
    font-size: 1em;
    color: #000;
    font-weight: bold;
}

.product-options .group-label {
    font-size: 0.75em;
    margin-bottom: 3px;
}

.product-options input {
    display: none;
}

.product-options label {
    min-width: 42px;
}

.product-options input:checked+label {
    background: #2694cf;
    border-color: #2694cf;
    color: #fff;
}

.product-options label.disabled {
    opacity: .4;
    background: linear-gradient(to top left, rgba(108, 117, 125, 0) 0%, rgba(108, 117, 125, 0) calc(50% - 1.5px), #ccc 50%, rgba(108, 117, 125, 0) calc(50% + 1.5px), rgba(108, 117, 125, 0) 100%), linear-gradient(to top right, rgba(108, 117, 125, 0) 0%, rgba(108, 117, 125, 0) calc(50% - 1.5px), #ccc 50%, rgba(108, 117, 125, 0) calc(50% + 1.5px), rgba(108, 117, 125, 0) 100%);
}


/* ---------------------------------------------------
    TEMPORARY STYLES FOR DESIGN
----------------------------------------------------- */